{% extends 'base.html' %}

{% load django_bootstrap5 %}


{% block content %}
<div class="container">
      <h1 class="my-4">
          Удаление учётной записи
      </h1>

    <form method="post">
    <p>Вы уверены, что хотите удалить {{ client.last_name }} {{ client.first_name }} {{ сlient.first_name }} ?</p>
        {% csrf_token %}
      <input class="btn btn-danger" type="submit" value="Да, удалить">
    </form>
    <form action="{% url 'client_list' %}">
        <input class="btn btn-success" type="submit" value="Нет">
    </form>
</div>
{% endblock %}