{% extends 'base.html' %}

{% block content %}

<table class="table text-center container">
    
    <div class="container">
      <h1 align="center">Клиенты</h1>
      <form action="{% url 'client_create' %}">
        <input class="btn btn-primary" type="submit" value="Добавить">
      </form>
      <button type="button" class="btn btn-outline-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer" viewBox="0 0 16 16">
          <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
          <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z"/>
        </svg>
        Анкета
      </button>
    </div>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">ФИО</th>
        <th scope="col">Телефон</th>
        <th scope="col">Дата рождения</th>
        <th scope="col">Почта</th>
        <th scope="col">Услуги</th>
        <th scope="col">Состояние</th>
      </tr>
    </thead>
    <tbody>
        {% for c in clients %}
      <tr>
        <th scope="row">{{c.pk}}</th>
        <td>{{ c.last_name }} {{c.first_name}} {{ c.patronymic }}</td>
        <td>{{c.phone}}</td>
        <td>{{c.date_of_birth}}</td>
        <td>{{c.email}}</td>
        <td>{{c.services.name}}</td>
        <td>{{c.user_state.name}}</td>
        <td>
          <form action="{% url 'client_show' c.pk %}">
            <button class="btn btn-primary mb-3" type="submit">Подробная информация</button>
          </form>
        </td>
      </tr>
        {% endfor %}
    </tbody>
  </table>

{% endblock %}