{% extends 'base.html' %}

{% block content %}

<table class="table text-center container">
  <div class="container">
    <h1 align="center">Услуги</h1>
    <form action="{% url 'service_create' %}">
      <input class="btn btn-primary" type="submit" value="Добавить">
    </form>
  </div>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Название</th>
        <th scope="col">Описание</th>
        <th scope="col">Стоимость</th>
        <th scope="col">Дата</th>
      </tr>
    </thead>
    <tbody>
        {% for s in services %}
      <tr>
        <th scope="row">{{s.id}}</th>
        <td>{{s.name}}</td>
        <td>{{s.description}}</td>
        <td>{{s.price}}</td>
        <td>{{s.date}}</td>
        <td>
          <form action="{% url 'service_show' s.pk %}">
            <button class="btn btn-primary mb-3" type="submit">Подробная информация</button>
          </form>
        </td>
      </tr>
        {% endfor %}
    </tbody>
  </table>

{% endblock %}