<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <div class="container-fluid">
          <span class="navbar-brand mb-0 h1">Atletic Club™</span>
          {% if user.is_authenticated %}
          <span class="navbar-brand h2">Кабинет менеджера</span>
          {% endif %}
      </div>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'main' %}">Главная</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'service_list' %}">Услуги</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'client_list' %}">Клиенты</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'bid_list' %}">Заявки</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'order_create' %}">Товары</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'chart_list' %}">Графики</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'main' %}">Отчёты</a>
          </li>
          <li class="nav-item">
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <input class="btn nav-link" type="submit" value="Выход">
            </form>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Вход</a>
            </li>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>